@model Ignis_Web.Models.item

@{
    ViewBag.Title = "FreqAppka";
}
<h2>FreqAppka</h2>
<div class="jumbotron jumbotron-opacity">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <br />
        <br />
        if (TempData["FreqVal"] != null)
        {
            @Html.ValidationSummary(false, "Ktoś sie chyba rozdwoił.", new { @class = "bg-danger text-center" })
        }
        if (TempData["Obecny"] != null)
        {
            @Html.ValidationSummary(false, TempData["Obecny"].ToString() + " został/została bez frekwencji.", new { @class = "bg-danger text-center" })
        }
        if (TempData["Pusty"] != null)
        {
            @Html.ValidationSummary(false, "Powietrze dostało punkty frekwencji.", new { @class = "bg-danger text-center" })
        }
        if (TempData["Dung"] != null)
        {
            @Html.ValidationSummary(false, "Na której instancji ta grupa się bawiła?", new { @class = "bg-danger text-center" })
        }
        if (TempData["FreqSucc"] != null)
        {
            @Html.ValidationSummary(false, "Frekwencja została zapisana.", new { @class = "bg-success text-center" })
        }
        <div class="row">
            <div class="col-md-1">
                @Html.LabelFor(model => model.Instancje, htmlAttributes: new { @class = "menu-label" })
            </div>
            <div class="col-md-1">
                @Html.LabelFor(model => model.IBP, htmlAttributes: new { @class = "menu-label" })
            </div>
            <div class="col-md-1">
                @Html.LabelFor(model => model.SToES, htmlAttributes: new { @class = "menu-label" })
            </div>
        </div>
        <div class="row">
            <div class="col-md-1">

            </div>
            <div class="col-md-1">
                <div class="checkbox">
                    @Html.EditorFor(model => model.checkIBP, new { htmlAttributes = new { @class = "checkbox-huge" } })
                    @Html.ValidationMessageFor(model => model.checkIBP, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-1">
                <div class="checkbox">
                    @Html.EditorFor(model => model.checkSToES, new { htmlAttributes = new { @class = "checkbox-huge" } })
                    @Html.ValidationMessageFor(model => model.checkSToES, "", new { @class = "text-danger" })
                </div>
            </div>

        </div>
        <br />
        <br />
        <div class="row">
            <div class="col-md-3">
                @Html.LabelFor(model => model.Nickname, htmlAttributes: new { @class = "menu-label" })
            </div>
            <div class="col-md-1 text-center">
                @Html.LabelFor(model => model.Full, htmlAttributes: new { @class = "menu-label text-center" })
            </div>
            <div class="col-md-1 text-center">
                @Html.LabelFor(model => model.Pierwszy, htmlAttributes: new { @class = "menu-label text-center" })
            </div>
            <div class="col-md-1 text-center">
                @Html.LabelFor(model => model.Drugi, htmlAttributes: new { @class = "menu-label text-center" })
            </div>
            <div class="col-md-1 text-center">
                @Html.LabelFor(model => model.Trzeci, htmlAttributes: new { @class = "menu-label text-center" })
            </div>
            <div class="col-md-1 text-center">
                @Html.LabelFor(model => model.Czwarty, htmlAttributes: new { @class = "menu-label text-center" })
            </div>
            <div class="col-md-1 text-center">
                @Html.LabelFor(model => model.Piaty, htmlAttributes: new { @class = "menu-label text-center" })
            </div>
        </div>
        <div class="row">

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="col-md-3">
                <div class="form-group">
                    @Html.DropDownListFor(model => model.FirstNickname, ViewBag.ListaLudzi as IEnumerable<SelectListItem>, new
                    {
                        data_placeholder = "Select Options",
                        data_dropup_auto = "true",
                        data_size = "10",
                        data_live_search = "true",
                        title = "Wybierz gracza",
                        data_style = "btn-secondary",
                        @class = "selectpicker dropup"
                    })
                    @Html.ValidationMessageFor(model => model.FirstNickname, "", new { @class = "text-danger" })
                </div>
            </div>


            <div class="col-md-1">
                <div class="checkbox text-center">
                    @Html.EditorFor(model => model.FirstFull, new { htmlAttributes = new { @class = "checkbox-huge" } })
                    @Html.ValidationMessageFor(model => model.FirstFull, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="col-md-1">
                <div class="checkbox text-center">
                    @Html.EditorFor(model => model.First1, new { htmlAttributes = new { @class = "checkbox-huge" } })
                    @Html.ValidationMessageFor(model => model.First1, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="col-md-1">
                <div class="checkbox text-center">
                    @Html.EditorFor(model => model.First2, new { htmlAttributes = new { @class = "checkbox-huge" } })
                    @Html.ValidationMessageFor(model => model.First2, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="col-md-1">
                <div class="checkbox text-center">
                    @Html.EditorFor(model => model.First3, new { htmlAttributes = new { @class = "checkbox-huge" } })
                    @Html.ValidationMessageFor(model => model.First3, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="col-md-1">
                <div class="checkbox text-center">
                    @Html.EditorFor(model => model.First4, new { htmlAttributes = new { @class = "checkbox-huge" } })
                    @Html.ValidationMessageFor(model => model.First4, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="col-md-1">
                <div class="checkbox text-center">
                    @Html.EditorFor(model => model.First5, new { htmlAttributes = new { @class = "checkbox-huge" } })
                    @Html.ValidationMessageFor(model => model.First5, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <br />
        <div class="row">

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="col-md-3">
                <div class="form-group">
                    @Html.DropDownListFor(model => model.SecondNickname, ViewBag.ListaLudzi as IEnumerable<SelectListItem>, new
                    {
                        data_placeholder = "Select Options ",
                        data_dropup_auto = "true",
                        data_size = "10",
                        data_live_search = "true",
                        title = "Wybierz gracza",
                        data_style = "btn-secondary",
                        @class = "selectpicker dropup"
                    })
                    @Html.ValidationMessageFor(model => model.SecondNickname, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="col-md-1">
                <div class="checkbox text-center">
                    @Html.EditorFor(model => model.SecondFull, new { htmlAttributes = new { @class = "checkbox-huge" } })
                    @Html.ValidationMessageFor(model => model.SecondFull, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="col-md-1">
                <div class="checkbox text-center">
                    @Html.EditorFor(model => model.Second1, new { htmlAttributes = new { @class = "checkbox-huge" } })
                    @Html.ValidationMessageFor(model => model.Second1, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="col-md-1">
                <div class="checkbox text-center">
                    @Html.EditorFor(model => model.Second2, new { htmlAttributes = new { @class = "checkbox-huge" } })
                    @Html.ValidationMessageFor(model => model.Second2, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="col-md-1">
                <div class="checkbox text-center">
                    @Html.EditorFor(model => model.Second3, new { htmlAttributes = new { @class = "checkbox-huge" } })
                    @Html.ValidationMessageFor(model => model.Second3, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="col-md-1">
                <div class="checkbox text-center">
                    @Html.EditorFor(model => model.Second4, new { htmlAttributes = new { @class = "checkbox-huge" } })
                    @Html.ValidationMessageFor(model => model.Second4, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="col-md-1">
                <div class="checkbox text-center">
                    @Html.EditorFor(model => model.Second5, new { htmlAttributes = new { @class = "checkbox-huge" } })
                    @Html.ValidationMessageFor(model => model.Second5, "", new { @class = "text-danger" })
                </div>
            </div>

        </div>
        <br />
        <div class="row">

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="col-md-3">
                <div class="form-group">
                    @Html.DropDownListFor(model => model.ThirdNickname, ViewBag.ListaLudzi as IEnumerable<SelectListItem>, new
                    {
                        data_placeholder = "Select Options ",
                        data_dropup_auto = "true",
                        data_size = "10",
                        data_live_search = "true",
                        title = "Wybierz gracza",
                        data_style = "btn-secondary",
                        @class = "selectpicker dropup"
                    })
                    @Html.ValidationMessageFor(model => model.ThirdNickname, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="col-md-1">
                <div class="checkbox text-center">
                    @Html.EditorFor(model => model.ThirdFull, new { htmlAttributes = new { @class = "checkbox-huge" } })
                    @Html.ValidationMessageFor(model => model.ThirdFull, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="col-md-1">
                <div class="checkbox text-center">
                    @Html.EditorFor(model => model.Third1, new { htmlAttributes = new { @class = "checkbox-huge" } })
                    @Html.ValidationMessageFor(model => model.Third1, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="col-md-1">
                <div class="checkbox text-center">
                    @Html.EditorFor(model => model.Third2, new { htmlAttributes = new { @class = "checkbox-huge" } })
                    @Html.ValidationMessageFor(model => model.Third2, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="col-md-1">
                <div class="checkbox text-center">
                    @Html.EditorFor(model => model.Third3, new { htmlAttributes = new { @class = "checkbox-huge" } })
                    @Html.ValidationMessageFor(model => model.Third3, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="col-md-1">
                <div class="checkbox text-center">
                    @Html.EditorFor(model => model.Third4, new { htmlAttributes = new { @class = "checkbox-huge" } })
                    @Html.ValidationMessageFor(model => model.Third4, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="col-md-1">
                <div class="checkbox text-center">
                    @Html.EditorFor(model => model.Third5, new { htmlAttributes = new { @class = "checkbox-huge" } })
                    @Html.ValidationMessageFor(model => model.Third5, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <br />
        <div class="row">

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="col-md-3">
                <div class="form-group">
                    @Html.DropDownListFor(model => model.FourthNickname, ViewBag.ListaLudzi as IEnumerable<SelectListItem>, new
                    {
                        data_placeholder = "Select Options ",
                        data_dropup_auto = "true",
                        data_size = "10",
                        data_live_search = "true",
                        title = "Wybierz gracza",
                        data_style = "btn-secondary",
                        @class = "selectpicker dropup"
                    })
                    @Html.ValidationMessageFor(model => model.FourthNickname, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="col-md-1">
                <div class="checkbox text-center">
                    @Html.EditorFor(model => model.FourthFull, new { htmlAttributes = new { @class = "checkbox-huge" } })
                    @Html.ValidationMessageFor(model => model.FourthFull, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="col-md-1">
                <div class="checkbox text-center">
                    @Html.EditorFor(model => model.Fourth1, new { htmlAttributes = new { @class = "checkbox-huge" } })
                    @Html.ValidationMessageFor(model => model.Fourth1, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="col-md-1">
                <div class="checkbox text-center">
                    @Html.EditorFor(model => model.Fourth2, new { htmlAttributes = new { @class = "checkbox-huge" } })
                    @Html.ValidationMessageFor(model => model.Fourth2, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="col-md-1">
                <div class="checkbox text-center">
                    @Html.EditorFor(model => model.Fourth3, new { htmlAttributes = new { @class = "checkbox-huge" } })
                    @Html.ValidationMessageFor(model => model.Fourth3, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="col-md-1">
                <div class="checkbox text-center">
                    @Html.EditorFor(model => model.Fourth4, new { htmlAttributes = new { @class = "checkbox-huge" } })
                    @Html.ValidationMessageFor(model => model.Fourth4, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="col-md-1">
                <div class="checkbox text-center">
                    @Html.EditorFor(model => model.Fourth5, new { htmlAttributes = new { @class = "checkbox-huge" } })
                    @Html.ValidationMessageFor(model => model.Fourth5, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <br />
        <div class="row">

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="col-md-3">
                <div class="form-group">
                    @Html.DropDownListFor(model => model.FifthNickname, ViewBag.ListaLudzi as IEnumerable<SelectListItem>, new
                    {
                        data_placeholder = "Select Options ",
                        data_dropup_auto = "true",
                        data_size = "10",
                        data_live_search = "true",
                        title = "Wybierz gracza",
                        data_style = "btn-secondary",
                        @class = "selectpicker dropup"
                    })
                    @Html.ValidationMessageFor(model => model.FifthNickname, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="col-md-1">
                <div class="checkbox text-center">
                    @Html.EditorFor(model => model.FifthFull, new { htmlAttributes = new { @class = "checkbox-huge" } })
                    @Html.ValidationMessageFor(model => model.FifthFull, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="col-md-1">
                <div class="checkbox text-center">
                    @Html.EditorFor(model => model.Fifth1, new { htmlAttributes = new { @class = "checkbox-huge" } })
                    @Html.ValidationMessageFor(model => model.Fifth1, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="col-md-1">
                <div class="checkbox text-center">
                    @Html.EditorFor(model => model.Fifth2, new { htmlAttributes = new { @class = "checkbox-huge" } })
                    @Html.ValidationMessageFor(model => model.Fifth2, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="col-md-1">
                <div class="checkbox text-center">
                    @Html.EditorFor(model => model.Fifth3, new { htmlAttributes = new { @class = "checkbox-huge" } })
                    @Html.ValidationMessageFor(model => model.Fifth3, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="col-md-1">
                <div class="checkbox text-center">
                    @Html.EditorFor(model => model.Fifth4, new { htmlAttributes = new { @class = "checkbox-huge" } })
                    @Html.ValidationMessageFor(model => model.Fifth4, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="col-md-1">
                <div class="checkbox text-center">
                    @Html.EditorFor(model => model.Fifth5, new { htmlAttributes = new { @class = "checkbox-huge" } })
                    @Html.ValidationMessageFor(model => model.Fifth5, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <br />
        <div class="row">

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="col-md-3">
                <div class="form-group">
                    @Html.DropDownListFor(model => model.SixthNickname, ViewBag.ListaLudzi as IEnumerable<SelectListItem>, new
                    {
                        data_placeholder = "Select Options ",
                        data_dropup_auto = "true",
                        data_size = "10",
                        data_live_search = "true",
                        title = "Wybierz gracza",
                        data_style = "btn-secondary",
                        @class = "selectpicker dropup"
                    })
                    @Html.ValidationMessageFor(model => model.SixthNickname, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="col-md-1">
                <div class="checkbox text-center">
                    @Html.EditorFor(model => model.SixthFull, new { htmlAttributes = new { @class = "checkbox-huge" } })
                    @Html.ValidationMessageFor(model => model.SixthFull, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="col-md-1">
                <div class="checkbox text-center">
                    @Html.EditorFor(model => model.Sixth1, new { htmlAttributes = new { @class = "checkbox-huge" } })
                    @Html.ValidationMessageFor(model => model.Sixth1, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="col-md-1">
                <div class="checkbox text-center">
                    @Html.EditorFor(model => model.Sixth2, new { htmlAttributes = new { @class = "checkbox-huge" } })
                    @Html.ValidationMessageFor(model => model.Sixth2, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="col-md-1">
                <div class="checkbox text-center">
                    @Html.EditorFor(model => model.Sixth3, new { htmlAttributes = new { @class = "checkbox-huge" } })
                    @Html.ValidationMessageFor(model => model.Sixth3, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="col-md-1">
                <div class="checkbox text-center">
                    @Html.EditorFor(model => model.Sixth4, new { htmlAttributes = new { @class = "checkbox-huge" } })
                    @Html.ValidationMessageFor(model => model.Sixth4, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="col-md-1">
                <div class="checkbox text-center">
                    @Html.EditorFor(model => model.Sixth5, new { htmlAttributes = new { @class = "checkbox-huge" } })
                    @Html.ValidationMessageFor(model => model.Sixth5, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <br />
        <div class="row">

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="col-md-3">
                <div class="form-group">
                    @Html.DropDownListFor(model => model.SeventhNickname, ViewBag.ListaLudzi as IEnumerable<SelectListItem>, new
                    {
                        data_placeholder = "Select Options ",
                        data_dropup_auto = "true",
                        data_size = "10",
                        data_live_search = "true",
                        title = "Wybierz gracza",
                        data_style = "btn-secondary",
                        @class = "selectpicker dropup"
                    })
                    @Html.ValidationMessageFor(model => model.SeventhNickname, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="col-md-1">
                <div class="checkbox text-center">
                    @Html.EditorFor(model => model.SeventhFull, new { htmlAttributes = new { @class = "checkbox-huge" } })
                    @Html.ValidationMessageFor(model => model.SeventhFull, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="col-md-1">
                <div class="checkbox text-center">
                    @Html.EditorFor(model => model.Seventh1, new { htmlAttributes = new { @class = "checkbox-huge" } })
                    @Html.ValidationMessageFor(model => model.Seventh1, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="col-md-1">
                <div class="checkbox text-center">
                    @Html.EditorFor(model => model.Seventh2, new { htmlAttributes = new { @class = "checkbox-huge" } })
                    @Html.ValidationMessageFor(model => model.Seventh2, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="col-md-1">
                <div class="checkbox text-center">
                    @Html.EditorFor(model => model.Seventh3, new { htmlAttributes = new { @class = "checkbox-huge" } })
                    @Html.ValidationMessageFor(model => model.Seventh3, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="col-md-1">
                <div class="checkbox text-center">
                    @Html.EditorFor(model => model.Seventh4, new { htmlAttributes = new { @class = "checkbox-huge" } })
                    @Html.ValidationMessageFor(model => model.Seventh4, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="col-md-1">
                <div class="checkbox text-center">
                    @Html.EditorFor(model => model.Seventh5, new { htmlAttributes = new { @class = "checkbox-huge" } })
                    @Html.ValidationMessageFor(model => model.Seventh5, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <br />
        <div class="row">

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="col-md-3">
                <div class="form-group">
                    @Html.DropDownListFor(model => model.EighthNickname, ViewBag.ListaLudzi as IEnumerable<SelectListItem>, new
                    {
                        data_placeholder = "Select Options ",
                        data_dropup_auto = "true",
                        data_size = "10",
                        data_live_search = "true",
                        title = "Wybierz gracza",
                        data_style = "btn-secondary",
                        @class = "selectpicker dropup"
                    })
                    @Html.ValidationMessageFor(model => model.EighthNickname, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="col-md-1">
                <div class="checkbox text-center">
                    @Html.EditorFor(model => model.EighthFull, new { htmlAttributes = new { @class = "checkbox-huge" } })
                    @Html.ValidationMessageFor(model => model.EighthFull, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="col-md-1">
                <div class="checkbox text-center">
                    @Html.EditorFor(model => model.Eighth1, new { htmlAttributes = new { @class = "checkbox-huge" } })
                    @Html.ValidationMessageFor(model => model.Eighth1, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="col-md-1">
                <div class="checkbox text-center">
                    @Html.EditorFor(model => model.Eighth2, new { htmlAttributes = new { @class = "checkbox-huge" } })
                    @Html.ValidationMessageFor(model => model.Eighth2, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="col-md-1">
                <div class="checkbox text-center">
                    @Html.EditorFor(model => model.Eighth3, new { htmlAttributes = new { @class = "checkbox-huge" } })
                    @Html.ValidationMessageFor(model => model.Eighth3, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="col-md-1">
                <div class="checkbox text-center">
                    @Html.EditorFor(model => model.Eighth4, new { htmlAttributes = new { @class = "checkbox-huge" } })
                    @Html.ValidationMessageFor(model => model.Eighth4, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="col-md-1">
                <div class="checkbox text-center">
                    @Html.EditorFor(model => model.Eighth5, new { htmlAttributes = new { @class = "checkbox-huge" } })
                    @Html.ValidationMessageFor(model => model.Eighth5, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <br />
        <div class="row">

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="col-md-3">
                <div class="form-group">
                    @Html.DropDownListFor(model => model.NinthNickname, ViewBag.ListaLudzi as IEnumerable<SelectListItem>, new
                    {
                        data_placeholder = "Select Options ",
                        data_dropup_auto = "true",
                        data_size = "10",
                        data_live_search = "true",
                        title = "Wybierz gracza",
                        data_style = "btn-secondary",
                        @class = "selectpicker dropup"
                    })
                    @Html.ValidationMessageFor(model => model.NinthNickname, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="col-md-1">
                <div class="checkbox text-center">
                    @Html.EditorFor(model => model.NinthFull, new { htmlAttributes = new { @class = "checkbox-huge" } })
                    @Html.ValidationMessageFor(model => model.NinthFull, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="col-md-1">
                <div class="checkbox text-center">
                    @Html.EditorFor(model => model.Ninth1, new { htmlAttributes = new { @class = "checkbox-huge" } })
                    @Html.ValidationMessageFor(model => model.Ninth1, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="col-md-1">
                <div class="checkbox text-center">
                    @Html.EditorFor(model => model.Ninth2, new { htmlAttributes = new { @class = "checkbox-huge" } })
                    @Html.ValidationMessageFor(model => model.Ninth2, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="col-md-1">
                <div class="checkbox text-center">
                    @Html.EditorFor(model => model.Ninth3, new { htmlAttributes = new { @class = "checkbox-huge" } })
                    @Html.ValidationMessageFor(model => model.Ninth3, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="col-md-1">
                <div class="checkbox text-center">
                    @Html.EditorFor(model => model.Ninth4, new { htmlAttributes = new { @class = "checkbox-huge" } })
                    @Html.ValidationMessageFor(model => model.Ninth4, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="col-md-1">
                <div class="checkbox text-center">
                    @Html.EditorFor(model => model.Ninth5, new { htmlAttributes = new { @class = "checkbox-huge" } })
                    @Html.ValidationMessageFor(model => model.Ninth5, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <br />
        <div class="row">

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="col-md-3">
                <div class="form-group">
                    @Html.DropDownListFor(model => model.TenthNickname, ViewBag.ListaLudzi as IEnumerable<SelectListItem>, new
                    {
                        data_placeholder = "Select Options ",
                        data_dropup_auto = "true",
                        data_size = "10",
                        data_live_search = "true",
                        title = "Wybierz gracza",
                        data_style = "btn-secondary",
                        @class = "selectpicker dropup"
                    })
                    @Html.ValidationMessageFor(model => model.TenthNickname, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="col-md-1">
                <div class="checkbox text-center">
                    @Html.EditorFor(model => model.TenthFull, new { htmlAttributes = new { @class = "checkbox-huge" } })
                    @Html.ValidationMessageFor(model => model.TenthFull, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="col-md-1">
                <div class="checkbox text-center">
                    @Html.EditorFor(model => model.Tenth1, new { htmlAttributes = new { @class = "checkbox-huge" } })
                    @Html.ValidationMessageFor(model => model.Tenth1, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="col-md-1">
                <div class="checkbox text-center">
                    @Html.EditorFor(model => model.Tenth2, new { htmlAttributes = new { @class = "checkbox-huge" } })
                    @Html.ValidationMessageFor(model => model.Tenth2, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="col-md-1">
                <div class="checkbox text-center">
                    @Html.EditorFor(model => model.Tenth3, new { htmlAttributes = new { @class = "checkbox-huge" } })
                    @Html.ValidationMessageFor(model => model.Tenth3, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="col-md-1">
                <div class="checkbox text-center">
                    @Html.EditorFor(model => model.Tenth4, new { htmlAttributes = new { @class = "checkbox-huge" } })
                    @Html.ValidationMessageFor(model => model.Tenth4, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="col-md-1">
                <div class="checkbox text-center">
                    @Html.EditorFor(model => model.Tenth5, new { htmlAttributes = new { @class = "checkbox-huge" } })
                    @Html.ValidationMessageFor(model => model.Tenth5, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <br />
        <div class="row">

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="col-md-3">
                <div class="form-group">
                    @Html.DropDownListFor(model => model.EleventhNickname, ViewBag.ListaLudzi as IEnumerable<SelectListItem>, new
                    {
                        data_placeholder = "Select Options ",
                        data_dropup_auto = "true",
                        data_size = "10",
                        data_live_search = "true",
                        title = "Wybierz gracza",
                        data_style = "btn-secondary",
                        @class = "selectpicker dropup"
                    })
                    @Html.ValidationMessageFor(model => model.EleventhNickname, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="col-md-1">
                <div class="checkbox text-center">
                    @Html.EditorFor(model => model.EleventhFull, new { htmlAttributes = new { @class = "checkbox-huge" } })
                    @Html.ValidationMessageFor(model => model.EleventhFull, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="col-md-1">
                <div class="checkbox text-center">
                    @Html.EditorFor(model => model.Eleventh1, new { htmlAttributes = new { @class = "checkbox-huge" } })
                    @Html.ValidationMessageFor(model => model.Eleventh1, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="col-md-1">
                <div class="checkbox text-center">
                    @Html.EditorFor(model => model.Eleventh2, new { htmlAttributes = new { @class = "checkbox-huge" } })
                    @Html.ValidationMessageFor(model => model.Eleventh2, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="col-md-1">
                <div class="checkbox text-center">
                    @Html.EditorFor(model => model.Eleventh3, new { htmlAttributes = new { @class = "checkbox-huge" } })
                    @Html.ValidationMessageFor(model => model.Eleventh3, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="col-md-1">
                <div class="checkbox text-center">
                    @Html.EditorFor(model => model.Eleventh4, new { htmlAttributes = new { @class = "checkbox-huge" } })
                    @Html.ValidationMessageFor(model => model.Eleventh4, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="col-md-1">
                <div class="checkbox text-center">
                    @Html.EditorFor(model => model.Eleventh5, new { htmlAttributes = new { @class = "checkbox-huge" } })
                    @Html.ValidationMessageFor(model => model.Eleventh5, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <br />
        <div class="row">

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="col-md-3">
                <div class="form-group">
                    @Html.DropDownListFor(model => model.TwelfthNickname, ViewBag.ListaLudzi as IEnumerable<SelectListItem>, new
                    {
                        data_placeholder = "Select Options ",
                        data_dropup_auto = "true",
                        data_size = "10",
                        data_live_search = "true",
                        title = "Wybierz gracza",
                        data_style = "btn-secondary",
                        @class = "selectpicker dropup"
                    })
                    @Html.ValidationMessageFor(model => model.TwelfthNickname, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="col-md-1">
                <div class="checkbox text-center">
                    @Html.EditorFor(model => model.TwelfthFull, new { htmlAttributes = new { @class = "checkbox-huge" } })
                    @Html.ValidationMessageFor(model => model.TwelfthFull, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="col-md-1">
                <div class="checkbox text-center">
                    @Html.EditorFor(model => model.Twelfth1, new { htmlAttributes = new { @class = "checkbox-huge" } })
                    @Html.ValidationMessageFor(model => model.Twelfth1, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="col-md-1">
                <div class="checkbox text-center">
                    @Html.EditorFor(model => model.Twelfth2, new { htmlAttributes = new { @class = "checkbox-huge" } })
                    @Html.ValidationMessageFor(model => model.Twelfth2, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="col-md-1">
                <div class="checkbox text-center">
                    @Html.EditorFor(model => model.Twelfth3, new { htmlAttributes = new { @class = "checkbox-huge" } })
                    @Html.ValidationMessageFor(model => model.Twelfth3, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="col-md-1">
                <div class="checkbox text-center">
                    @Html.EditorFor(model => model.Twelfth4, new { htmlAttributes = new { @class = "checkbox-huge" } })
                    @Html.ValidationMessageFor(model => model.Twelfth4, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="col-md-1">
                <div class="checkbox text-center">
                    @Html.EditorFor(model => model.Twelfth5, new { htmlAttributes = new { @class = "checkbox-huge" } })
                    @Html.ValidationMessageFor(model => model.Twelfth5, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-1">
                @Html.LabelFor(model => model.Reserves, htmlAttributes: new { @class = "menu-label" })
            </div>
            <div class="col-md-1">
                <div class="checkbox text-center">
                    @Html.EditorFor(model => model.Reserves, new { htmlAttributes = new { @class = "checkbox-huge" } })
                    @Html.ValidationMessageFor(model => model.Reserves, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <br />
        <div id="reserves" style="display: none">
            <div class="row">

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="col-md-3">
                    <div class="form-group">
                        @Html.DropDownListFor(model => model.R_FirstNickname, ViewBag.ListaLudzi as IEnumerable<SelectListItem>, new
                        {
                            data_placeholder = "Select Options ",
                            data_dropup_auto = "true",
                            data_size = "10",
                            data_live_search = "true",
                            title = "Wybierz gracza",
                            data_style = "btn-secondary",
                            @class = "selectpicker dropup"
                        })
                        @Html.ValidationMessageFor(model => model.R_FirstNickname, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="col-md-1">
                    <div class="checkbox text-center">
                        @Html.EditorFor(model => model.R_FirstFull, new { htmlAttributes = new { @class = "checkbox-huge" } })
                        @Html.ValidationMessageFor(model => model.R_FirstFull, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="col-md-1">
                    <div class="checkbox text-center">
                        @Html.EditorFor(model => model.R_First1, new { htmlAttributes = new { @class = "checkbox-huge" } })
                        @Html.ValidationMessageFor(model => model.R_First1, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="col-md-1">
                    <div class="checkbox text-center">
                        @Html.EditorFor(model => model.R_First2, new { htmlAttributes = new { @class = "checkbox-huge" } })
                        @Html.ValidationMessageFor(model => model.R_First2, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="col-md-1">
                    <div class="checkbox text-center">
                        @Html.EditorFor(model => model.R_First3, new { htmlAttributes = new { @class = "checkbox-huge" } })
                        @Html.ValidationMessageFor(model => model.R_First3, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="col-md-1">
                    <div class="checkbox text-center">
                        @Html.EditorFor(model => model.R_First4, new { htmlAttributes = new { @class = "checkbox-huge" } })
                        @Html.ValidationMessageFor(model => model.R_First4, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="col-md-1">
                    <div class="checkbox text-center">
                        @Html.EditorFor(model => model.R_First5, new { htmlAttributes = new { @class = "checkbox-huge" } })
                        @Html.ValidationMessageFor(model => model.R_First5, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <br />
            <div class="row">

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="col-md-3">
                    <div class="form-group">
                        @Html.DropDownListFor(model => model.R_SecondNickname, ViewBag.ListaLudzi as IEnumerable<SelectListItem>, new
                        {
                            data_placeholder = "Select Options ",
                            data_dropup_auto = "true",
                            data_size = "10",
                            data_live_search = "true",
                            title = "Wybierz gracza",
                            data_style = "btn-secondary",
                            @class = "selectpicker dropup"
                        })
                        @Html.ValidationMessageFor(model => model.R_SecondNickname, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="col-md-1">
                    <div class="checkbox text-center">
                        @Html.EditorFor(model => model.R_SecondFull, new { htmlAttributes = new { @class = "checkbox-huge" } })
                        @Html.ValidationMessageFor(model => model.R_SecondFull, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="col-md-1">
                    <div class="checkbox text-center">
                        @Html.EditorFor(model => model.R_Second1, new { htmlAttributes = new { @class = "checkbox-huge" } })
                        @Html.ValidationMessageFor(model => model.R_Second1, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="col-md-1">
                    <div class="checkbox text-center">
                        @Html.EditorFor(model => model.R_Second2, new { htmlAttributes = new { @class = "checkbox-huge" } })
                        @Html.ValidationMessageFor(model => model.R_Second2, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="col-md-1">
                    <div class="checkbox text-center">
                        @Html.EditorFor(model => model.R_Second3, new { htmlAttributes = new { @class = "checkbox-huge" } })
                        @Html.ValidationMessageFor(model => model.R_Second3, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="col-md-1">
                    <div class="checkbox text-center">
                        @Html.EditorFor(model => model.R_Second4, new { htmlAttributes = new { @class = "checkbox-huge" } })
                        @Html.ValidationMessageFor(model => model.R_Second4, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="col-md-1">
                    <div class="checkbox text-center">
                        @Html.EditorFor(model => model.R_Second5, new { htmlAttributes = new { @class = "checkbox-huge" } })
                        @Html.ValidationMessageFor(model => model.R_Second5, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <br />
            <div class="row">

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="col-md-3">
                    <div class="form-group">
                        @Html.DropDownListFor(model => model.R_ThirdNickname, ViewBag.ListaLudzi as IEnumerable<SelectListItem>, new
                        {
                            data_placeholder = "Select Options ",
                            data_dropup_auto = "true",
                            data_size = "10",
                            data_live_search = "true",
                            title = "Wybierz gracza",
                            data_style = "btn-secondary",
                            @class = "selectpicker dropup"
                        })
                        @Html.ValidationMessageFor(model => model.R_ThirdNickname, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="col-md-1">
                    <div class="checkbox text-center">
                        @Html.EditorFor(model => model.R_ThirdFull, new { htmlAttributes = new { @class = "checkbox-huge" } })
                        @Html.ValidationMessageFor(model => model.R_ThirdFull, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="col-md-1">
                    <div class="checkbox text-center">
                        @Html.EditorFor(model => model.R_Third1, new { htmlAttributes = new { @class = "checkbox-huge" } })
                        @Html.ValidationMessageFor(model => model.R_Third1, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="col-md-1">
                    <div class="checkbox text-center">
                        @Html.EditorFor(model => model.R_Third2, new { htmlAttributes = new { @class = "checkbox-huge" } })
                        @Html.ValidationMessageFor(model => model.R_Third2, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="col-md-1">
                    <div class="checkbox text-center">
                        @Html.EditorFor(model => model.R_Third3, new { htmlAttributes = new { @class = "checkbox-huge" } })
                        @Html.ValidationMessageFor(model => model.R_Third3, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="col-md-1">
                    <div class="checkbox text-center">
                        @Html.EditorFor(model => model.R_Third4, new { htmlAttributes = new { @class = "checkbox-huge" } })
                        @Html.ValidationMessageFor(model => model.R_Third4, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="col-md-1">
                    <div class="checkbox text-center">
                        @Html.EditorFor(model => model.R_Third5, new { htmlAttributes = new { @class = "checkbox-huge" } })
                        @Html.ValidationMessageFor(model => model.R_Third5, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <br />
            <div class="row">

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="col-md-3">
                    <div class="form-group">
                        @Html.DropDownListFor(model => model.R_FourthNickname, ViewBag.ListaLudzi as IEnumerable<SelectListItem>, new
                        {
                            data_placeholder = "Select Options ",
                            data_dropup_auto = "true",
                            data_size = "10",
                            data_live_search = "true",
                            title = "Wybierz gracza",
                            data_style = "btn-secondary",
                            @class = "selectpicker dropup"
                        })
                        @Html.ValidationMessageFor(model => model.R_FourthNickname, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="col-md-1">
                    <div class="checkbox text-center">
                        @Html.EditorFor(model => model.R_FourthFull, new { htmlAttributes = new { @class = "checkbox-huge" } })
                        @Html.ValidationMessageFor(model => model.R_FourthFull, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="col-md-1">
                    <div class="checkbox text-center">
                        @Html.EditorFor(model => model.R_Fourth1, new { htmlAttributes = new { @class = "checkbox-huge" } })
                        @Html.ValidationMessageFor(model => model.R_Fourth1, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="col-md-1">
                    <div class="checkbox text-center">
                        @Html.EditorFor(model => model.R_Fourth2, new { htmlAttributes = new { @class = "checkbox-huge" } })
                        @Html.ValidationMessageFor(model => model.R_Fourth2, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="col-md-1">
                    <div class="checkbox text-center">
                        @Html.EditorFor(model => model.R_Fourth3, new { htmlAttributes = new { @class = "checkbox-huge" } })
                        @Html.ValidationMessageFor(model => model.R_Fourth3, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="col-md-1">
                    <div class="checkbox text-center">
                        @Html.EditorFor(model => model.R_Fourth4, new { htmlAttributes = new { @class = "checkbox-huge" } })
                        @Html.ValidationMessageFor(model => model.R_Fourth4, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="col-md-1">
                    <div class="checkbox text-center">
                        @Html.EditorFor(model => model.R_Fourth5, new { htmlAttributes = new { @class = "checkbox-huge" } })
                        @Html.ValidationMessageFor(model => model.R_Fourth5, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <br />
            <div class="row">

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="col-md-3">
                    <div class="form-group">
                        @Html.DropDownListFor(model => model.R_FifthNickname, ViewBag.ListaLudzi as IEnumerable<SelectListItem>, new
                        {
                            data_placeholder = "Select Options ",
                            data_dropup_auto = "true",
                            data_size = "10",
                            data_live_search = "true",
                            title = "Wybierz gracza",
                            data_style = "btn-secondary",
                            @class = "selectpicker dropup"
                        })
                        @Html.ValidationMessageFor(model => model.R_FifthNickname, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="col-md-1">
                    <div class="checkbox text-center">
                        @Html.EditorFor(model => model.R_FifthFull, new { htmlAttributes = new { @class = "checkbox-huge" } })
                        @Html.ValidationMessageFor(model => model.R_FifthFull, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="col-md-1">
                    <div class="checkbox text-center">
                        @Html.EditorFor(model => model.R_Fifth1, new { htmlAttributes = new { @class = "checkbox-huge" } })
                        @Html.ValidationMessageFor(model => model.R_Fifth1, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="col-md-1">
                    <div class="checkbox text-center">
                        @Html.EditorFor(model => model.R_Fifth2, new { htmlAttributes = new { @class = "checkbox-huge" } })
                        @Html.ValidationMessageFor(model => model.R_Fifth2, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="col-md-1">
                    <div class="checkbox text-center">
                        @Html.EditorFor(model => model.R_Fifth3, new { htmlAttributes = new { @class = "checkbox-huge" } })
                        @Html.ValidationMessageFor(model => model.R_Fifth3, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="col-md-1">
                    <div class="checkbox text-center">
                        @Html.EditorFor(model => model.R_Fifth4, new { htmlAttributes = new { @class = "checkbox-huge" } })
                        @Html.ValidationMessageFor(model => model.R_Fifth4, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="col-md-1">
                    <div class="checkbox text-center">
                        @Html.EditorFor(model => model.R_Fifth5, new { htmlAttributes = new { @class = "checkbox-huge" } })
                        @Html.ValidationMessageFor(model => model.R_Fifth5, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-offset-2 col-md-10">
            <div class="form-group">
                <button type="submit" class="btn btn-default">Click</button>
            </div>
        </div>


    }
</div>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
        @Scripts.Render("~/bundles/jquery")

    }
